@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flexLayout {
    width: 100%;
    height: 100vh;
    display: flex;
}

.flexLayout > div {
    width: 50%;
}

.flexLayout > div:first-child > img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: right;
}

.flexLayout > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
}

.flexLayout > div:last-child > p{
    margin: 20px 0;
}

.flexLayout > div:last-child > p:nth-child(2) {
    border-bottom: 2px solid #333;
    padding-bottom: 20px;
    margin-bottom: 0;
}


.flexLayout > div:last-child > button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: max-content;
}


.firstGrid {
    width: 100%;
    height: 100vh;
    background: #007BFF;
    display: grid;
    padding: 20px;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.firstGrid > div {
    background: #333;
    color: #fff;
    font-size: 24px;
    display: grid;
    place-items: center;
    border-radius: 6px;
    transition: 0.3s;
    box-shadow: 2px 2px 2px #fff;
}

.firstGrid > div:hover {
    box-shadow: 6px 6px 6px #fff;
}

.secondGrid {
    width: 100%;
    height: 100vh;
    display: grid;
    padding: 20px;
    grid-gap: 20px;
    grid-template-areas: 
    "area1 area1 area2 area3" 
    "area4 area5 area2 area6" 
    "area4 area7 area7 area8"
    "area9 area9 area9 area8";
}

.secondGrid > div {
    background: #007BFF;
    display: grid;
    place-items: center;
    text-shadow: 1px 1px 1px #fff;
    border-radius: 6px;
    font-size: 24px;   
}

.secondGrid > div:first-child {
    grid-area: area1;
}

.secondGrid > div:nth-child(2) {
    grid-area: area2;
}

.secondGrid > div:nth-child(3) {
    grid-area: area3;
}

.secondGrid > div:nth-child(4) {
    grid-area: area4;
}

.secondGrid > div:nth-child(5) {
    grid-area: area5;
}

.secondGrid > div:nth-child(6) {
    grid-area: area6;
}

.secondGrid > div:nth-child(7) {
    grid-area: area7;
}

.secondGrid > div:nth-child(8) {
    grid-area: area8;
}

.secondGrid > div:last-child {
    grid-area: area9;
}


.myPosition {
    width: 100%;
    height: 100vh;
    background: lightcoral;
}

.myPosition > div:first-child {
    width: 100px;
    height: 100px;
    background: #333;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.myPosition > div:nth-child(2) {
    width: 100px;
    height: 100px;
    background: #007BFF;
    position: relative;
    left: 70px;
    top: -30px;
    z-index: 20;
}

.myPosition > div:nth-child(2) > div {
    width: 50px;
    height: 50px;
    background: #fff;
    position: absolute;
    top: 75px;
    right: -25px;
}

.goToUp {
    width: 30px;
    line-height: 30px;
    text-align: center;
    background: #333;
    display: block;
    color: #fff;
    font-size: 22px;
    border-radius: 6px;
    position: fixed;
    top: 90%;
    left: 95%;
}

.myOtherPosition {
    width: 100%;
    height: 150vh;
}

.myOtherPosition > div {
    position: sticky;
    top: 20px;
    left: 0;
    width: 100px;
    height: 100px;
    background: limegreen;
}

.myFloat {
    width: 100%;
    padding: 20px;
}

.myFloat > div {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}